<html lang="en" >
   <head>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script> 
      <script type="text/javascript">    
         angular.module('MyApp', ['ngMaterial', 'ngMdIcons'])
         .controller('AppCtrl',function ($scope, $timeout, $mdSidenav, $log, $mdComponentRegistry) {
              $scope.toogleLeft = function(menuId) {
                $log.debug('toggle clicked.');
                $mdSidenav(menuId).toggle();
              };

         }
         ).controller('LeftCtrl', function ($scope, $timeout, $mdSidenav, $log) {
            $scope.close = function () {
              // Component lookup should always be available since we are not using `ng-if`
              $mdSidenav('left').close()
                .then(function () {
                  $log.debug("close LEFT is done");
                });

            };
          });
      </script>
   </head>
   <body>
      <!-- 
        md-content :  an Angular Directive, is a container element and is used for "scrollable content"
                      CSS overflow property to auto so that content can properly scroll
        md-scroll-y : Scroll in Y direction makes it available
      -->
      <md-content flex md-scroll-y>
        <!--
          ui-view :     https://github.com/angular-ui/ui-router/wiki/Quick-Reference#ui-view
          layout-fill : https://material.angularjs.org/latest/layout/options
        -->
        <ui-view layout="column" layout-fill layout-padding>
          <!--
            hide-sm : https://material.angularjs.org/latest/layout/options goto Show & Hide
                      activates when (600px <= width < 960px)
          -->
          <div class="inset" hide-sm></div>
          <!--
            ng-switch : The ngSwitch directive is used to conditionally swap DOM structure on your template based on a scope expression.
                        Elements within ngSwitch but without ngSwitchWhen or ngSwitchDefault directives will be preserved at the location as specified in the template.
                        https://docs.angularjs.org/api/ng/directive/ngSwitch
          -->
          <ng-switch on="data.selectedIndex" class="tabpanel-container">
          </ng-switch>
        </ui-view> 
        <!--
          ng-clock  : https://docs.angularjs.org/api/ng/directive/ngCloak
                      displayed by the browser in its raw (uncompiled) form while your application is loading. Use this directive to avoid the undesirable flicker effect caused by the html template display
        -->
        <div ng-controller="AppCtrl" layout="column" style="height: 500px" ng-cloak class="sidenavdemo" ng-app="MyApp">

            <section layout="row" flex>
              <!--
                md-component-id :   componentId to use with $mdSidenav service
                md-is-locked-open : When this expression evaluates to true, the sidenav 'locks open': it falls into the content's flow 
                                    instead of appearing over it. This overrides the "md-is-open" attribute.
                                    md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe :     This attribute is used for shadow
              -->
              <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

                <md-toolbar class = "md-theme-indigo">
                  <h1 class="md-toolbar-tools">Sidenav Left</h1>
                </md-toolbar>

                <md-content layout-padding="" ng-controller="LeftCtrl">
                    <md-button ng-click="close()" class="md-primary">
                      Close
                    </md-button>
                    <p hide="" show-gt-md="">
                      This sidenav is locked open on your device. To go back to the default behavior,
                      narrow your display.
                    </p>
                </md-content>
              </md-sidenav>

              <md-content flex="" layout-padding="">
                <div layout="column" layout-align="top center">
                  <p>
                  The left sidenav will 'lock open' on a medium (=960px wide) device.
                  </p>
                  <p>
                  The right sidenav will focus on a specific child element.
                  </p>

                  <div>
                    <md-button ng-click="toogleLeft('left')" class="md-primary">
                    Toggle left
                    </md-button>
                  </div>

                </div>
                <div flex=""></div>
              </md-content>

            </section>
      
        </div>

      </md-content>
   </body>
</html>