<html lang="en" ng-app="MyApp">
   <head>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script> 
      <link rel="stylesheet" type="text/css" href="MyApp.css">
      <script type="text/javascript">    
         angular.module('MyApp', ['ngMaterial', 'ngMdIcons'])
         .controller('AppCtrl',function ($scope, $timeout, $mdSidenav, $log, $mdComponentRegistry) {
              $scope.toogleLeft = function(menuId) {
                $log.debug('toggle clicked.');
                $mdSidenav(menuId).toggle();
              };

              $scope.playlists = [
                {
                  link : '',
                  title: 'xEnglish',
                  icon: 'music_note'
                },
                {
                  link : '',
                  title: '2016 Hindi',
                  icon: 'music_note'
                },
                {
                  link : '',
                  title: '2014 Hindi',
                  icon: 'music_note'
                },
                {
                  link : '',
                  title: 'BGM',
                  icon: 'music_note'
                },
                {
                  link : '',
                  title: 'Song',
                  icon: 'music_note'
                },
                {
                  link : '',
                  title: 'Old Songs',
                  icon: 'music_note'
                }
              ];

              $scope.songs = [
              {
                name: 'Brunch this weekend?',
                artist: 'Ali Conners',
                time: '3.08',
                notes: " I'll be in your neighborhood doing errands"
              },
              {
                name: 'Summer BBQ',
                artist: 'to Alex, Scott, Jennifer',
                time: '3.08',
                notes: "Wish I could come out but I'm out of town this weekend"
              },
              {
                name: 'Oui Oui',
                artist: 'Sandra Adams',
                time: '3.08',
                notes: "Do you have Paris recommendations? Have you ever been?"
              },
              {
                name: 'Birthday Gift',
                artist: 'Trevor Hansen',
                time: '3.08',
                notes: "Have any ideas of what we should get Heidi for her birthday?"
              },
              {
                name: 'Recipe to try',
                artist: 'Brian Holt',
                time: '3.08',
                notes: "We should eat this: Grapefruit, Squash, Corn, and Tomatillo tacos"
              },
            ];
         }
         ).controller('LeftCtrl', function ($scope, $timeout, $mdSidenav, $log) {
            $scope.close = function () {
              // Component lookup should always be available since we are not using `ng-if`
              $mdSidenav('left').close()
                .then(function () {
                  $log.debug("close LEFT is done");
                });

            };
          });
      </script>
   </head>
   <body layout="row" ng-controller="AppCtrl">
   <!--
      md-component-id :   componentId to use with $mdSidenav service
      md-is-locked-open : When this expression evaluates to true, the sidenav 'locks open': it falls into the content's flow 
                          instead of appearing over it. This overrides the "md-is-open" attribute.
                          md-is-locked-open="$mdMedia('gt-md')"
      md-whiteframe :     This attribute is used for shadow
    -->
    <md-sidenav layout="column" class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

      <md-toolbar class = "md-hue-2">
        <span flex> </span>
        <h1 class="md-toolbar-tools">JBaba</h1>
      </md-toolbar>
      <md-list>
        <md-item>
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="my_library_music"></ng-md-icon> 
            </div>
            <div class="inset">Playlists</div>
          </md-item-content>
        </md-item>
        <md-divider></md-divider>
        
        <!--
          List of playlists
        -->
      
        <md-item ng-repeat="item in playlists">
            <md-item-content layout="row" layout-align="start center">
              <div class="inset">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
              </div>
              <div class="inset">{{item.title}}
              </div>
            </md-item-content>
        </md-item>
      </md-list>

    </md-sidenav>
    <div layout="column" class="relative" layout-fill role="main">
        <!--
          Floating button
        -->
        <md-button class="md-fab md-fab-bottom-right" aria-label="Play" ng-click="">
          <ng-md-icon icon="play_arrow" size="38"></ng-md-icon>
        </md-button>
        <!--
          Top level toolbar
        -->
        <md-toolbar ng-show="true">
          <div class="md-toolbar-tools">
            <md-button ng-click="toogleLeft('left')" aria-label="Menu">
              <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>Song</h3>
            <span flex></span>

            <md-button aria-label="Search" ng-click="">
              <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button aria-label="Open Settings" ng-click="">
              <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
          </div>
          <!--
            Tabs
            md-tabs : create tabes
            md-stretch-tabs : stretch tabs and make it fit to the screen
          -->
          <md-tabs md-stretch-tabs="always" class="md-primary" md-selected="data.selectedIndex">
            <md-tab id="tab1" aria-controls="tab1-content">
              Latest
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content">
              Favorites
            </md-tab>
          </md-tabs>
        </md-toolbar>
        <md-content flex="" md-scroll-y>
          <ui-view layout="column" layout-fill layout-padding>
            <div class="inset" hide-sm> </div>
              <!--
                Cards
              -->
              <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" layout="row" layout-align="center center">
                <md-card flex-gt-sm="100" flex-gt-md="80">
                  <md-card-content>
                    <h2>List of Songs in PlayList</h2>
                    <md-list flex>
                      <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
                      <md-list-item class="md-3-line" ng-repeat="item in songs" ng-click="null">
                        <ng-md-icon size="36" layout-padding icon="play_circle_fill" ></ng-md-icon>
                        <div class="md-list-item-text" layout="column">
                          <h3 class="md-title">{{ item.name }}</h3>
                          <h4>{{ item.artist }}</h4>
                          <p class="md-secondary">{{ item.time }}</p>
                        </div>
                      </md-list-item>
                      <md-divider ></md-divider>
                    </md-list>
                  </md-card-content>
                </md-card>
              </div>  
          </ui-view>
        </md-content>
    </div>
   </body>
</html>